@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Tajawal&display=swap');


.User__home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto !important;
    flex-wrap: wrap;
}

.user__container {
    margin-top: 20px;
    width: 100vw;
    height: auto !important;
    background: #4a4e4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.records {
    display: inline-flex;
    padding: 20px;
    color:  #fe8a71;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.boldness {
    color: #ffeead;
    margin-left: 20px;
}